# dependencies
node_modules/

# build output
.output/
dist/
.tanstack/

# generated route tree
src/routeTree.gen.ts
src/api/api-client.ts

# misc
.DS_Store
.env
.env.local
.env.*.local

# logs
*.log

# bun
bun.lockb

swagger.yml
